body {
    font-family: 'Overpass', sans-serif;
}


/*-----------------------------------------------------*/


/*Section Form */
html {
    background-color: snow;
}

h1 {
    color: black;
}


form-text {
   font-family: 'Overpass', sans-serif;
   font-size: 70px;
   color: black;   
}
.big-square {
    margin: 0 auto;
    background: -webkit-linear-gradient(white, snow);
    width: 870px;
    display: block;
    color: white;
    padding-bottom: 8px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    border: 1px;
    border-style: double;
    color: lightgray;
    background-color: white
}

input,
textarea {
    font-family: 'Overpass', sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px;
    border-style: none;
    background-color: white;
    color: black;
    width: 100%;
    box-shadow: inset 2px 2px lightgray; 
}

label {
    display: inline-block;
    width: 50%;
    color: black;
}

.columns-container {
    display: flex;
}

.column-66 {
    width: 66%;
}

.column-33 {
    width: 32%;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 12px;
}

.column-33,
.column-66 {
    display: inline-block;
    vertical-align: top;
}

.column-33 input[type="submit"] {
    height: 83px;
    width: 100%;
    font-size: 30px;
    display: block;
    margin: 0;
    border-radius: 25px;
    background: LightSteelBlue;
    border-style: none; 
    box-shadow: 2px 6px lightgray;
}

.row .input-container {
    display: inline-block;
    width: 49%;
    text-align: left;
}

.row .input-container input[type="checkbox"] {
    width: 15px;
}

.row .label-for-textarea {
    vertical-align: top;
    margin-top: 11px;
}