.form-section .big-square {
    margin: 0 auto;
    background: -webkit-linear-gradient(white, snow);
    width: 870px;
    display: block;
    color: white;
    padding-bottom: 8px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    border: 1px;
    border-style: double;
    color: lightgray;
    background-color: white
}

.form-section input,
.form-section textarea {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px;
    border-style: none;
    background-color: white;
    color: black;
    width: 100%;
    box-shadow: inset 2px 2px lightgray; 
}

.form-section label {
    display: inline-block;
    width: 50%;
    color: black;
}

.form-section .columns-container {
    display: flex;
}

.form-section .column-66 {
    width: 66%;
    display: inline-block;
    vertical-align: top;
}

.form-section .column-33 {
    width: 32%;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 12px;
    display: inline-block;
    vertical-align: top;
}

.form-section .column-33 input[type="submit"] {
    height: 83px;
    width: 100%;
    font-size: 30px;
    display: block;
    margin: 0;
    border-radius: 25px;
    background: LightSteelBlue;
    border-style: none; 
    box-shadow: 2px 6px lightgray;
}

.form-section .row .input-container {
    display: inline-block;
    width: 49%;
    text-align: left;
}

.form-section .row .input-container input[type="checkbox"] {
    width: 15px;
}

.form-section .row .label-for-textarea {
    vertical-align: top;
    margin-top: 11px;
}